
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: chats.chat.ops.com
spec:
  group: chat.ops.com
  names:
    kind: Chat
    listKind: ChatList
    plural: chats
    singular: chat
  scope: ""
  validation:
    openAPIV3Schema:
      description: Chat is the Schema for the chats API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ChatSpec defines the desired state of Chat
          properties:
            command:
              type: string
            podlabel:
              type: string
            timestamp:
              format: int64
              type: integer
          required:
          - command
          - podlabel
          - timestamp
          type: object
        status:
          description: ChatStatus defines the observed state of Chat
          properties:
            arguments:
              type: string
            channel:
              type: string
            command:
              type: string
            timestamp:
              type: string
            username:
              type: string
          required:
          - arguments
          - channel
          - command
          - timestamp
          - username
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
